@page "/"
@inject IJSRuntime JSRuntime

<h1>Hello, @CustomerName!</h1>

Welcome to your new app.
<br>
<br>
<button class="btn btn-primary" @onclick="TriggerJsPrompt">send message to BC</button>

@code {
    private string CustomerName = "world";
    private string MessageForBc = "hello BC from Blazor";

    public async Task TriggerJsPrompt()
    {
        var name = await JSRuntime.InvokeAsync<string>(
                "dotnetJsFunctions.sendTextToBc", //implementation in wwwroot/js/messagehandler.js
                MessageForBc);
    }
}